@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #ffffff;
  text-align: center;
}
.header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #121212;
}
.header .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #121212;
}
.header .nav-links a {
  padding: 0.5rem 1rem;
  background: #121212;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.header .nav-links a:hover {
  background: #1e1e1e;
}
.header .hamburger {
  visibility: hidden;
  padding: 4px;
  cursor: pointer;
  border: 1px solid #1e1e1e;
  border-radius: 8px;
  color: #ffffff;
  background: #1e1e1e;
}
.header .hamburger i {
  font-size: 1.5rem;
}
.header .active {
  visibility: visible;
}
.header .cart-icon {
  position: relative;
  cursor: pointer;
}
.header .cart-icon .cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03dac6;
  color: #1e1e1e;
  border-radius: 50%;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .nav-links {
    visibility: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column !important;
  }
  .nav-links a {
    padding: 1rem;
    border-bottom: 1px solid #1e1e1e;
    width: 100%;
    background: #121212;
  }
  .header .hamburger {
    visibility: visible;
  }
}
.main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 60px);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  width: calc(100vw - 1rem);
  background: linear-gradient(to bottom, rgba(66, 39, 174, 0.5), rgba(0, 0, 0, 0.5));
  color: #ffffff;
  text-align: center;
}
.hero h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}
.hero h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.hero p {
  font-size: 1.2rem;
}
.hero .bajar {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}
.hero .bajar .animation {
  margin-top: 30px;
  animation: bounce 2s infinite;
}

@media (max-width: 768px) {
  .hero {
    width: 100vw;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero h2 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .hero .bajar {
    font-size: 1.5rem;
  }
}
.main-container {
  display: grid;
  grid-template-areas: "cart-list total-container";
  grid-template-columns: auto 400px;
  grid-template-rows: auto;
  height: calc(100vh - 60px);
}
.main-container #cart-list {
  grid-area: cart-list;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  height: calc(100vh - 60px);
}
.main-container .total-container {
  position: fixed;
  top: 20px;
  right: 1rem;
  grid-area: total-container;
  margin: 60px 1rem 1rem 1rem;
  padding: 1rem;
  min-width: 375px;
  max-height: min-content;
  border: 1px solid #03dac6;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  background: #1e1e1e;
}
.main-container .total-container .total-items {
  font-size: 1.2rem;
  color: #ffffff;
}
.main-container .total-container .total {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: calc(100vh - 60px);
    margin-bottom: 2rem;
  }
  .main-container #cart-list {
    width: 100%;
    height: auto;
    padding: 1rem;
    justify-content: center;
  }
  .main-container .total-container {
    position: static;
    margin-top: 0;
  }
}
.empty-cart {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
}

#product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#product-section h2 {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.container-products {
  padding: 2rem;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.container-products .product {
  position: relative;
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #1e1e1e;
  border: 1px solid #03dac6;
  border-radius: 25px;
}
.container-products .product .image-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: white;
  border-radius: 25px;
}
.container-products .product .image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
.container-products .product h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  background: none;
}
.container-products .product p {
  font-size: 1.5rem;
  color: #ffffff;
  background: none;
}
.container-products .product .buttons-controller {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: center;
}
.container-products .product .buttons-controller .decrease-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f44336;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.container-products .product .buttons-controller .decrease-quantity:hover {
  background-color: #d32f2f;
}
.container-products .product .buttons-controller .increase-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03dac6;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.container-products .product .buttons-controller .increase-quantity:hover {
  background-color: #018786;
}
.container-products .product .buttons-controller .quantity-input {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.25rem;
}
.container-products .product .buttons-controller .quantity-input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}
.container-products .product .remove-from-cart {
  padding: 0.5rem 1rem;
  align-self: center;
  background-color: #f44336;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container-products .product .remove-from-cart:hover {
  background-color: #d32f2f;
}
.container-products .product .add-to-cart {
  position: absolute;
  top: 60%;
  right: 8%;
  margin-top: 1rem;
  padding: 1rem 1rem;
  background-color: #6200ea;
  color: #ffffff;
  font-size: 1.2rem;
  border: none;
  border-radius: 10% 90% 50% 50%/10% 50% 50% 90%;
  cursor: pointer;
}
.container-products .product .add-to-cart:hover {
  background-color: #801ef8;
  animation: zoom-in-out 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.notification {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 60px;
  max-width: 300px;
  padding: 20px;
  border-radius: 25px;
  background: #6200ea;
  color: #ffffff;
}
.notification p {
  background: none;
}

.fade-in {
  animation: fade-in 1s ease-in-out 1;
}

.fade-out {
  animation: fade-out 1s ease-in-out 1;
}

/*# sourceMappingURL=style.css.map */
